.card {
  width: 400px;
  color: black;

  // &__img {
  //   height: 300px;
  // }

  @media (max-width: 469px) {
    width: 290px;
  }

  &__body {
    padding: 30px;
    display: flex;
    flex-direction: column;

    &-title {
      display: flex;
      justify-content: center;
    }

    &-position {
      display: flex;
      justify-content: center;
    }

    &-github {
      display: flex;
      width: 100%;
      justify-content: center;
      align-content: center;
      align-items: center;

      &-img {
        display: flex;
        width: 30px;
        height: 30px;
        margin: 0 10px;
      }
    }
  }
}
