.audio-call-section {
  display:  flex;
  position: relative;
  flex-direction: column;
  min-height: calc(100vh - 64px);
  background-image: url(../../../assets/mountains.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 599px) {
    min-height: calc(100vh - 56px);
  }

  .button-container {
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: 20;
    .mat-icon-button {
      width: 60px;
      height: 60px;

      .icon-display {
        transform: scale(2);
      }
    }
  }

  .rules-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    background: radial-gradient(
      118.88% 606.86% at 0% 0%,
      rgba(36, 48, 219, 0.15) 0%,
      rgba(36, 197, 219, 0) 100%
    );
    backdrop-filter: blur(31px);
    border: 3px solid #8865d8;
    border-radius: 30px;

    @media (max-width: 749px) {
      width: 95%;
    }

    h2 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.75rem;
      line-height: 28px;
    }

    .group-btn-container {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
    }
  }

  .spinner {
    display: none;
  }

  .question-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    background: radial-gradient(
      118.88% 606.86% at 0% 0%,
      rgba(36, 48, 219, 0.15) 0%,
      rgba(36, 197, 219, 0) 100%
    );
    backdrop-filter: blur(31px);
    border: 3px solid #8865d8;
    border-radius: 30px;

    @media (max-width: 840px) {
      width: 95%;
    }

    .circle-container {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #c4c4c4;
      }

      .circle.green {
        background-color: green;
      }

      .circle.yellow {
        background-color: yellow;
      }

      .circle.red {
        background-color: red;
      }
    }

    .sound {
      width: 200px;
      cursor: pointer;
      transition: 0.3s;
    }

    .sound:hover {
      transform: scale(1.1);
    }

    .answer-container {
      display: none;
      gap: 30px;
      flex-wrap: wrap;

      .correct-img {
        width: 300px;

        @media (max-width: 340px) {
          width: 200px;
        }
      }

      .answer-right-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 20px;
        line-height: 24px;

        .correct-word,
        .english-exaple {
          display: flex;
          column-gap: 10px;
          flex-wrap: wrap;
        }
      }
    }

    .audio-call-btn-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .answer-btn.disabled {
        pointer-events: none;
        opacity: 1;
      }
    }

    .btn-next {
      display: none;
      padding: 5px 36px;
    }
  }
}

.small-svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
