@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sprint-game {
    @include flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    background-image: url(../../../assets/mountains.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sprint-game__info {
    @include flex();
    font-size: 1.8em;
    .sprint-game__timer {
        @include flex();
        width: 60px;
        height: 60px;
        border-radius: 100%;
    }
}


@keyframes trueAnswer {
    from {
        box-shadow: 0 0 0px 0px #15ff00;
    }
    to {
        box-shadow: 0 0 1px 4px #15ff00;
    }
}

.right {
    animation: trueAnswer 0.5s;
}

.sprint-game__window {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border: 2px solid gray;
    background: white;
    border-radius: 10px;
.sprint-game__image {
    margin-top: 50px;
    height: 100px;
}
    .sprint-game__sound-btn {
        display: block;
        margin: 10px auto 15px auto;
        background: none;
        outline: none;
        padding: 0;
        border: 0;
        cursor: pointer;

        img {
            width: 30px;
            height: 30px;
            transition: 0.2s;
            &:hover {   
                transform: scale(0.9);
            }
        }

    }

    .sprint-game__score {
        color: #ddff1e;
        text-align: center;
        font-size: 1.5em;
        margin: 10px 0 5px 0;
    }

    .sprint-game__circles {
        @include flex;
        height: 40px;
        border-bottom: 2px solid gray;

        span {
            display: block;
            margin: 10px;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background: gray;
        }

        span.active:after {
            content: "💡";
        }
    }
    .sprint-game__words {
        margin: 50px auto;

        p {
            font-size: 1.5em;
            text-align: center;
            color: gray;
        }

        .sprint-game__word {
            font-size: 2em;
            color: black;
            margin: 10px 0 30px 0;
        }
    }

    .sprint-game__buttons {
        @include flex;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        bottom: 10px;
        button {
            width: 120px;
        }
    }
}

