<section
  class="sprint-game"
  #sprintSection
  [ngClass]="{ 'full-screen': isFullScreen }"
>
  <app-games-start
    gameName="Спринт"
    (clicked)="startGame()"
    *ngIf="state === 'start'"
  ></app-games-start>
  <app-game-result
    (clicked)="restartGame()"
    [answers]="answers"
    [score]="score"
    *ngIf="state === 'end'"
  >
  </app-game-result>
  <article class="button-container">
    <button mat-icon-button (click)="toggleVolume()">
      <mat-icon class="icon-display" *ngIf="isMuteSound">volume_off</mat-icon>
      <mat-icon class="icon-display" *ngIf="!isMuteSound">volume_up</mat-icon>
    </button>
    <button mat-icon-button (click)="makeFullScreen()">
      <mat-icon class="icon-display" *ngIf="!isFullScreen">fullscreen</mat-icon>
      <mat-icon class="icon-display" *ngIf="isFullScreen"
        >fullscreen_exit</mat-icon
      >
    </button>
  </article>
  <article class="sprint-game__info" *ngIf="state === 'process'">
    <div class="sprint-game__timer">
      <span>{{ timer }}</span>
      <span><mat-icon class="clock">hourglass_empty</mat-icon></span>
    </div>
  </article>
  <article
    class="sprint-game__window"
    *ngIf="questions[wordNumber] && state === 'process'"
    [class.none]="answer === null"
    [class.right]="answer === true"
    [class.wrong]="answer === false"
  >
    <div class="sprint-game__score">
      <span>{{ score }}</span>
    </div>
    <div class="sprint-game__circles">
      <span
        *ngFor="let num of [1, 2, 3]"
        [ngClass]="{ active: rightNumbers >= num }"
      ></span>
    </div>
    <div class="sprint-game__animals">
      <img
        *ngFor="let img of animals"
        class="sprint-game__image"
        src="{{ img.src }}"
        alt="{{ img.alt }}"
      />
    </div>

    <div class="sprint-game__words">
      <button
        class="sprint-game__sound-btn"
        (click)="playSound(questions[wordNumber].wordData)"
      >
        <img src="../../../assets/svg/sound.svg" alt="" />
      </button>
      <p class="sprint-game__word">{{ questions[wordNumber].wordData.word }}</p>
      <p class="sprint-game__translate">
        {{ questions[wordNumber].wrongTranslate }}
      </p>
    </div>
    <div class="sprint-game__buttons">
      <button
        mat-raised-button
        type="button"
        color="warn"
        (click)="checkWord(false)"
      >
        <span>←</span> не верно
      </button>
      <button
        mat-raised-button
        type="button"
        style="background: green"
        (click)="checkWord(true)"
      >
        верно <span>→</span>
      </button>
    </div>
  </article>
</section>
