.sign-in-section {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  @media all and (max-height: 720px) {
    position: relative;
    min-height: 600px;
  }

  .from-section__link {
    margin: 5px auto;
  }

}

.from-section {
  max-width: 500px;
  background: #ffffff;
  border: 1px solid #d4d4d4;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 6px 2px#d4d4d4;
  color: gray;

  .form-field {
    width: 100%;
    margin: 8px auto;
    border-radius: 5px;
  }

  .from-section__icon {
    display: block;
    margin: 5px auto;
    transform: scale(2);
  }
}

.load-section {
  display: flex;
  align-items: center;

  button {
    margin-right: 10px;
  }
}

.badge {
  width: 100%;
  font-weight: 500;
  font-size: 1em;
  margin: 2px;
  margin: 0 0 15px 0;
  white-space: normal;
}

.form-label {
  color: #00b7ff;
}
