main.main {
  position: relative;
}

.header {
  padding: 30px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  width: 70px;
  transition: 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.user-info__name {
  font-size: 1em;
  color: white;
  font-weight: 500;
  margin: 0;
}

.user-info__img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid white;
  margin: 0 10px 0 10px;
}

.navbar-item:hover {
  transform: scale(1.1);
  color: #9c83f3;
}

.enter {
  padding: 15px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  transition: 0.3s;
}

.enter:hover {
  color: #2d56c7;
  border: 3px solid #2d56c7;
}

.footer__svg {
  height: 60px;
  cursor: pointer;
  transition: 0.3s;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 10px 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.games-btn {
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 10px;
}

.games-btn:hover {
  transform: scale(1);
}

.btn {
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  outline: none;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: rgb(34, 27, 122);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(202, 203, 241);
}

.dropdown:hover .dropdown-content {
  display: block;
}
