<header class="header">
  <img
    routerLink="/"
    class="logo"
    src="https://leon-center.by/sub/images/language.svg"
    alt="icon"
  />
  <nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item"><a routerLink="/">главная</a></li>
      <li class="navbar-item"><a routerLink="">учебник</a></li>
      <li class="navbar-item"><a routerLink="">мини-игры</a></li>
      <li class="navbar-item" *ngIf="isAuthUser">
        <a routerLink="">статистика</a>
      </li>
    </ul>
    <ul class="navbar-list">
      <li class="navbar-item user-info" *ngIf="isAuthUser">
        <p class="user-info__name">{{ userName }}</p>
        <img class="user-info__img" src="../../../assets/user.png" alt="user" />
        <button
          type="button"
          class="btn btn-outline-warning"
          (click)="logOut()"
        >
          выйти
        </button>
      </li>
      <li class="navbar-item" *ngIf="!isAuthUser">
        <a routerLink="signin">Войти</a>
      </li>
      <li class="navbar-item"><a routerLink="about-us">О команде</a></li>
    </ul>
  </nav>
</header>

<main class="main" [@routeChangeAnimation]="getRouteAnimationState(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</main>

<footer class="footer">
  <p>© Jet Squad</p>
  <p>2021</p>
  <a href="https://rs.school/js/"
    ><img
      class="footer__svg"
      src="https://raw.githubusercontent.com/YuliyaBondar/christmas-data/main/assets/svg/rss.svg"
      alt="rs_school_js"
  /></a>
</footer>
