@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  @include flex;
  position: absolute;
  height: 100%;
  padding: 0;
  top: 0;

  @media(max-width: 970px) {
    position: relative;
    flex-wrap: wrap-reverse;
    row-gap: 10vh;
  }

  @media(max-height: 900px) {
    position: relative;
    justify-content: flex-start;
    text-align: center;
  }

  @media all and (max-height: 1000px) and (max-width: 1000px) {
    position: relative;
    justify-content: flex-start;
  }
}

.left-column {
  @include flex;
  height: 100%;
  flex-direction: column;
  padding: 20px;

  @media all and (max-height: 768px) {
    width: 100%;
    padding: 10px;
  }
  @media(max-width: 480px) {
    padding: 0px;
  }
}

.right-column {
  @include flex;
  height: 100%;
  padding: 20px;

  @media(max-height: 768px) {
    display: none;
  }

  @media(max-width: 480px) {
    display: none;
  }
}

.carusel-section {
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
  height: 300px;
  color: white;
  background: #00000038;
  border-radius: 10px;

  h3 {
    font-weight: 600;
    @media(max-width: 1200px) {
      font-size: 1.2em;
    }
  }

  h3,
  p {
    text-align: center;
    margin: 10px 0 10px;

  }

  p {
    font-weight: 500;
    @media(max-width: 480px) {
      font-size: 0.8em;
      line-height: 1;
    }
  }

  h3,
  p,
  li {
    line-height: 25px;
    width: 80%;
    text-shadow: 1px 1px 4px #0000009f;
  }

  .carusel-section__item {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 300px;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 90%;
    }
  }

  li {
    text-align: left;
    list-style-type: circle;
    font-weight: 300;
    margin: 0;
    @media(max-width: 1200px) {
      font-size: 1em;
    }
    @media(max-width: 480px) {
      font-size: 0.9rem;
    }
    @media(max-width: 384px) {
      font-size: 0.8rem;
    }
  }
}

.main-img {
  width: 90%;

  @media(max-width: 970px) {
    width: 70%;
  }

  @media(max-height: 768px) {
    display: none;
  }

  @media(max-width: 480px) {
    display: none;
  }
}

.h1 {
  text-transform: uppercase;
  font-size: 4rem;
  width: 90%;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.582);

  @media(max-width: 970px) {
    text-align: center;
    font-size: 3rem;
  }

  @media(max-width: 385px) {
    font-size: 2rem;
  }
}

.main-text {
  width: 90%;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.555);

  @media(max-width: 970px) {
    margin: auto;
    text-align: center;
  }

  @media(max-width: 480px) {
    font-size: 1em;
  }
}
