<section class="short-stat">
  <h2 class="short-stat__title">Краткосрочная статистика</h2>
  <section class="short-stat__content">
    <article class="short-stat__graph">
      <h3 class="short-stat__graph-title">Спринт</h3>
      <div class="short-stat__graph-content">
        <ngx-charts-bar-vertical
          [view]="[width, height]"
          [results]="sprint"
          [xAxisLabel]="''"
          [yAxisLabel]="''"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
          [xAxis]="true"
          [yAxis]="true"
          [gradient]="gradient"
          [yScaleMin]="0"
        >
        </ngx-charts-bar-vertical>
      </div>
    </article>

    <article class="short-stat__graph">
      <h3 class="short-stat__graph-title">Аудиовызов</h3>
      <div class="short-stat__graph-content">
        <ngx-charts-bar-vertical
          [view]="[width, height]"
          [results]="audio"
          [xAxisLabel]="''"
          [yAxisLabel]="''"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
          [xAxis]="true"
          [yAxis]="true"
          [gradient]="gradient"
          [yScaleMin]="0"
        >
        </ngx-charts-bar-vertical>
      </div>
    </article>

    <article class="short-stat__graph">
      <h3 class="short-stat__graph-title">По словам</h3>
      <div class="short-stat__graph-content">
        <ngx-charts-bar-vertical
          [view]="[width, height]"
          [results]="words"
          [xAxisLabel]="''"
          [yAxisLabel]="''"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
          [xAxis]="true"
          [yAxis]="true"
          [gradient]="gradient"
          [yScaleMin]="0"
        >
        </ngx-charts-bar-vertical>
      </div>
    </article>
  </section>
</section>
