<section class="long-stat">
  <h2 class="long-stat__title">
    долгосрочная статистика за весь период изучения
  </h2>
  <section class="long-stat__content">
    <article class="long-stat__graph">
      <h3 class="long-stat__graph-title">новые слова за каждый день</h3>
      <div class="long-stat__graph-content">
        <ngx-charts-line-chart
          [view]="[width, height]"
          [results]="newWordsPerEveryDay"
          [xAxisLabel]="''"
          [yAxisLabel]="''"
          [showXAxisLabel]="true"
          [showYAxisLabel]="false"
          [xAxis]="true"
          [yAxis]="true"
          [gradient]="gradient"
        >
        </ngx-charts-line-chart>
      </div>
    </article>

    <article class="long-stat__graph">
      <h3 class="long-stat__graph-title">новые слова за весь период</h3>
      <div class="long-stat__graph-content">
        <ngx-charts-bar-vertical
          [view]="[width, height]"
          [results]="newWordsPerEveryDayIntegral"
          [xAxisLabel]="''"
          [yAxisLabel]="''"
          [showXAxisLabel]="true"
          [showYAxisLabel]="false"
          [xAxis]="true"
          [yAxis]="true"
          [noBarWhenZero]="false"
          [legend]="true"
          [gradient]="gradient"
        >
        </ngx-charts-bar-vertical>
      </div>
    </article>
  </section>
</section>
