// @mixin fl {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .sprint-result {
//   @include fl;
//   flex-direction: column;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: #d6b60093;
//   z-index: 10;

//   .sprint-result__window {
//     width: 500px;
//     height: 600px;
//     border: 2px solid gray;
//     border-radius: 10px;
//     background: white;
//     overflow-y: auto;
//     color: #000;

//     h2 {
//       color: black;
//       text-align: center;
//     }

//     .sprint-result__frame {
//       width: 100%;
//       height: 90%;
//       overflow-y: auto;

//       .sprint-result__line {
//         padding: 0 5px;
//         display: grid;
//         grid-template-columns: 5% repeat(3, 30%) 5%;
//         width: 100%;
//         height: 50px;
//         color: black;

//         p {
//           @include fl;
//           margin: 0 10px 0 10px;
//         }
//         .sprint-result__mark {
//             color: red;
//         }

//         .right-answer {
//             color: green;
//         }

//         .sprint-result__sound-btn {
//           display: block;
//           margin: 10px auto 15px auto;
//           background: none;
//           outline: none;
//           padding: 0;
//           border: 0;
//           cursor: pointer;

//           img {
//             width: 30px;
//             height: 30px;
//             transition: 0.2s;
//             &:hover {
//               transform: scale(0.9);
//             }
//           }
//         }
//       }
//     }
//   }
// }

.result-popup {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 1, 1, 0.7);
  z-index: 9;

  .result-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 16px 29px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 50%;
    height: 70%;
    background-color: #ffffff;
    border-radius: 20px;
    color: #000000;
    overflow-y: auto;

    .close-btn {
      cursor: pointer;
    }

    .green-count {
      padding: 5px 20px;
      background: green;
      border-radius: 10px;
    }

    .red-count {
      padding: 5px 20px;
      background: red;
      border-radius: 10px;
    }

    .result-row {
      display: flex;
      column-gap: 10px;
    }
  }
}

.small-svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
